body {
    background: linear-gradient(180deg, #75FCEB 0%, #75FCEB 300px, #038DDD 300px, #038DDD 100%);

}

@font-face {
    font-family: 'SomeTime';
    src: url('/wishlist/fonts/SomeTimeLater.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.font-bob {
    font-family: 'SomeTime';
}

.text-center {
    text-align: center;
}

.banner-wrapper-bg {
    height: 360px;
    background: url("/wishlist/spongebob/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px; 

    @media (min-width: 900px) {
        height: 500px;
        background-size: contain;
        background-repeat: repeat;
        margin-bottom: 40px; 
    }
}

.banner-main-text {
    height: 360px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE23E;
    padding: 20px;
    text-align: center;
    font-family: 'SomeTime';


    @media (min-width: 900px) {
        height: 500px;
        font-size: 120px;
    }
}

.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 20;

    justify-content: center;
    align-items: center;
}

.dialog-overlay .dialog-content {
    background-color: #4EA4E4;
    padding: 40px;
    margin: 40px;
    width: auto;
    flex-grow: 1;
    max-width: 90%;
    display: flex;
    gap: 40px;
    flex-direction: column;

    @media (min-width: 900px) {
        max-width: 800px;
        flex-direction: row;
    }
}

.dialog-overlay .dialog-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.dialog-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dialog-footer {
    font-size: 24px;

    @media (min-width: 900px) {
        font-size: 26px;
    }
}

.dialog-footer button {
    font-size: 16px;
}

.item-text label {
    display: inline-flex;
    align-items: center;
}

.tooltip {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .jelly {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    z-index: 10;

    @media (min-width: 900px) {
        display: none;
    }
  }

  .jelly img {
    width: 90px;
    height: auto;
  }

  .jelly .label {
    position: absolute;
    top: 30px;
    right: 18px;
    font-size: 13px;
    font-weight: 700;
  }

  #player-container {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 9999;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }