body {
    background: linear-gradient(180deg, #75FCEB 0%, #75FCEB 300px, #038DDD 300px, #038DDD 100%);

}

@font-face {
    font-family: 'SomeTime';
    src: url('/wishlist/fonts/SomeTimeLater.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.banner-wrapper-bg {
    height: 360px;
    background: url("/wishlist/spongebob/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px; 

    @media (min-width: 900px) {
        height: 500px;
        background-size: contain;
        background-repeat: repeat;
        margin-bottom: 40px; 
    }
}

.banner-main-text {
    height: 360px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE23E;
    padding: 20px;
    text-align: center;
    font-family: 'SomeTime';


    @media (min-width: 900px) {
        height: 500px;
        font-size: 120px;
    }
}