/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	font-family: 'ZCOOL XiaoWei', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: #224052;
	font-size: 20px;
	line-height: 1.7;
	/*background-color: #faf7ff;*/
	overflow-x: hidden;
}

.hero-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #CB4F4F;
	padding: 0 24px;
	box-sizing: border-box;
	border-bottom: 4px solid #FC9C2C;
}

.top-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 24px;
	box-sizing: border-box;
	border-bottom: 4px solid #FC9C2C;
}

.main-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}

.main-banner img {
	width: 75%;
}

/*.main-banner img {*/
/*	width: 50%;*/
/*	animation: float 2s infinite ease-in-out;*/
/*}*/

.main-banner-text {
	font-family: 'ZCOOL XiaoWei', sans-serif;
	font-size: 5vw;
	line-height: 1;
	color: #FFB855;
	text-align: center;
}

.title-text {
	font-family: 'ZCOOL XiaoWei', sans-serif;
	font-size: 8vw;
	line-height: 1;
	text-align: center;
	color: #FC9C2C;
	padding: 44px 0 64px;
}

.title-text.white {
	color: white;
}

.top-content img {
	max-width: 1400px;
	width: 100%;
}

.top-content  .wishlist-title {
	max-width: 1400px;
	width: 60%;
	margin-top: 100px;
	margin-bottom: 50px;
}

.top-content  .party-title {
	max-width: 1400px;
	width: 60%;
	margin-top: 100px;
	margin-bottom: 50px;
}

.party-guys {
	max-width: 1400px;
	width: 50%;
	margin-top: 80px;
	margin-bottom: 200px;
}

.party-text {
	font-size: 42px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 36px;
	row-gap: 20px;
}

.text-content {
	font-size: 36px;
	margin-bottom: 150px;
}

.text-content label {
	cursor: pointer;
}

.text-content ul {
	font-size: 24px;
	margin-left: 30px;
}

.text-content a,
.text-content a:active {
	color: #224052;
}

.text-content a:hover {
	color: #FC9C2C;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

input[type="checkbox"] {
	visibility: hidden;
	width: 0;
	height: 0;
}

.text-content input + label:before {
	content: '❤   ';
	color: #FC9C2C;
}

.sub-title {
	font-size: 24px;
	margin-left: 46px;
}

/*.text-content input:checked + label,*/
/*.text-content input:checked ~ div,*/
/*.text-content input:checked ~ ul ,*/
/*.text-content input:checked ~ ul a,*/
/*.text-content input:checked ~ div a,*/
/*.text-content input:checked + label a {*/
/*	color: #d3d3d3;*/
/*	text-decoration: line-through;*/
/*}*/

/*.text-content input:checked + label:before {*/
/*	background-image: url("https://ultramar1na.github.io/wishlist/icons/checkbox.svg");*/
/*}*/

@media (min-width: 1024px) {
	.hero-content {
		min-height: 100vh;
	}
}

@media (max-width: 768px) {
	.top-content {
		overflow: hidden;
	}
	.text-content {
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 75px;
	}

	.sub-title {
		font-size: 20px;
		margin-left: 40px;
	}

	.title-text {
		font-size: 40px;
		padding: 30px 0;
	}


	.text-content ul ul {
		font-size: 16px;
	}

	.top-content img {
		width: 100%;
	}

	.main-banner,
	.hero-content {
		padding: 0;
	}

	.main-banner img {
		width: 100%;
	}

	.top-content  .party-title,
	.top-content  .wishlist-title {
		width: 90%;
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.party-guys {
		width: 70%;
		margin-bottom: 100px;
		margin-top: 50px;
	}

	.party-text {
		font-size: 28px;
		column-gap: 20px;
		row-gap: 10px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@keyframes float {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}