:root {
    --main-bg-color: #87424D;
    --main-text-color: #000;
    --secondary-text-color: #fff;
    --secondary-bg-color: #e3dbcb;
    --dialog-bg-color: #66939a;
    --dialog-text-color: #1F2526;
    --secondary-bg-lighter: #F5F1E8;
}

.hero-content {

}

body {
    font-family: "Lora", serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    overflow-x: hidden;
}

.wishlist-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: 25px;

    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }

    @media (min-width: 1240px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.wishlist-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .wishlist-wrapper {
        padding: 120px 40px 120px;
    }
}

.music-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px 0;
    margin-bottom: -60px;

    @media (min-width: 768px) {
        padding: 60px 40px 0;
        margin-bottom: 0;
    }
}

.wishlist-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist-title h1 {
    font-size: 32px;
    color: var(--main-bg-color);
}

@media (min-width: 768px) {
    .wishlist-title h1 {
        font-size: 52px;
    }
}

.wishlist-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    order: 1;
    height: 100%;
}

.wide-item {
    height: 100%;

    @media (min-width: 500px) {
        grid-column: span 2 / span 2;
    }

    @media (min-width: 900px) {
        grid-column: span 3 / span 3;
        order: 2;
    }

    @media (min-width: 1240px) {
        grid-column: span 2 / span 2;
        order: 1;
    }
}

.order-fix {
    @media (min-width: 900px) {
        order: 3;
    }

    @media (min-width: 1240px) {
        order: 1;
    }
}

.wide-item .item-image img {
    aspect-ratio: unset;
}

.wide-item .item-image {
    height: 100%;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.wide-item .item-image img {
    width: 100%;
    height: 180px;

    @media (min-width: 900px) {
        height: 270px;
    }

    @media (min-width: 1240px) {
        height: 430px;
    }
}


.item-image {
    background-color: var(--secondary-bg-lighter);
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 8px 12px 30px var(--main-bg-color);
    background: var(--secondary-bg-lighter);
    display: flex;
    flex-direction: column;
}

.item-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
     transform: scale(1);

    transition: transform 0.3s linear;
}

.item-image img:hover {
    transform: scale(1.1);
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.text-center {
    text-align: center;
}

.btn  {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 0;
    background: var(--main-text-color);
    color: var(--secondary-bg-lighter);
    padding: 12px;
    border: 0;
    font-size: 14px;
    border: 2px solid var(--main-text-color);
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .25s;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.btn:hover {
    background: var(--secondary-bg-lighter);
    color: var(--main-text-color);
}


a {
    color: var(--main-text-color);
}

.wide-item .item-text {
    position: static;
    height: auto;
    flex-direction: column;

    padding: 32px 0 0;
}

.item-text .text-content {
    text-align: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
}

.item-text {
    text-align: center;
    padding: 20px 16px 30px;

    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1240px) {
        font-size: 22px;
       // height: 80px;
    }
}

.item-text a {
    text-decoration: none;
}

.item-text.has-tooltip {
    padding-right: 28px;
}

.small-text {
    font-size: 14px;

    @media (min-width: 1240px) {
        font-size: 18px;
    }
}

.banner-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-main img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}


footer {
    padding: 2em 1em 2em 1em;
    background: var(--main-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.social-links a {
    text-decoration: none;
    color: var(--secondary-text-color);
}
.social-links a:hover {
    color: var(--secondary-text-color);
}


.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

.multiple-point label {
    cursor: pointer;
}

.multiple-point .btn {
    font-size: 12px;    
    padding: 8px;
    margin-top: 0;
}

.multiple-point .item-checked .btn {
    display: none;
}

.multiple-point li {
    position: relative;
    margin: 0 0 8px;
    padding: 0 0 8px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid color-mix(in srgb, var(--main-bg-color) 40%, transparent);
}

.mini-checkbox-wrapper .background {
    fill: var(--secondary-bg-lighter);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.mini-checkbox-wrapper .stroke {
    fill: none;
    stroke: #503a2c;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.mini-checkbox-wrapper .check {
    fill: none;
    stroke: #503a2c;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.mini-checkbox-wrapper input[type=checkbox] {
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.checkbox-wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}

ul {
    list-style-type: none;
    padding: 0 24px;
}

li.item-checked label,
li.item-checked a {
    text-decoration: line-through;
    color: rgba(169, 158, 162);
}

.item-checked:not(.wide-item):not(li):before {
    content: 'замовлено';
    display: flex;
    justify-content: center;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 28px;
    line-height: 80px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(169, 158, 162, 0.5);
}

.item-checked:not(.wide-item):not(li) button {
    display: none;
}


.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 20;

    justify-content: center;
    align-items: center;
}

.dialog-overlay .dialog-content {
    background-color: var(--dialog-bg-color);
    color: var(--dialog-text-color);
    padding: 40px;
    margin: 40px;
    width: auto;
    flex-grow: 1;
    max-width: 90%;
    display: flex;
    gap: 40px;
    flex-direction: column;

    @media (min-width: 900px) {
        max-width: 800px;
        flex-direction: row;
    }
}

.dialog-overlay .btn {
    background: var(--dialog-text-color);
    color: var(--secondary-bg-lighter);
    border: 2px solid var(--dialog-text-color);
}

.dialog-overlay .btn:hover {
    color: var(--dialog-text-color);
    background: var(--secondary-bg-lighter);
}

.dialog-overlay .dialog-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.dialog-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.dialog-footer {
    font-size: 24px;

    @media (min-width: 900px) {
        font-size: 26px;
    }
}

.item-text label {
    display: inline-flex;
    align-items: center;
}

.tooltip {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }