---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="hero-content">
		    <div class="main-banner">
		        <img src="/wishlist/valentine/banner.png" alt="Love"/>
		    </div>
		</div>
		<div class="top-content">
                <div class="title-text">
		            Wishlist
		        </div>
		        <div class="text-content">
                    <div>
                        <input type="checkbox" id="20" class="checkbox-gift" name="20" />
                        <label for="20">Одяг</label>
                            <div class="sub-title">магази що мені подобаються:</div>
                            <ul>
                              <li><a href="https://gepur.com/uk" target="_blank">Gepur</a></li>
                              <li><a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a></li>
                              <li><a href="https://byme.ua/" target="_blank">byMe</a></li>
                              <li><a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a></li>
                            </ul>
                            <div class="sub-title">Мої параметри: 90 - 74 - 100</div>
                    </div>
                    <div>
                        <input type="checkbox" id="23" class="checkbox-gift" name="23" />
                        <label for="23">Прикраси</label>
                            <div class="sub-title">магази що мені подобаються:</div>
                            <ul>
                              <li><a href="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Minimalist Jewelry</a></li>
                              <li><a href="https://instagram.com/pryana_jewelry?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Pryana Jewelry</a></li>
                              <li><a href="https://e-pandora.ua/" target="_blank">Pandora</a></li>
                            </ul>
                    </div>

                    <div>
                        <input type="checkbox" id="33" name="33" class="checkbox-gift"  />
                        <label for="25">Ящик Dr Pepper</label>
                    </div>

                    <div>
                        <input type="checkbox" id="40" name="40" class="checkbox-gift" />
                        <label for="40">Адвент календар</label>
                        <div class="sub-title">наприклад: <a href="https://www.enchantress.store/card.html?id=354" target="_blank">House of Rituals</a></div>
                    </div>
                    <div>
                        <input type="checkbox" id="26" name="26" class="checkbox-gift"  />
                        <label for="26"><a target="_blank" href="https://www.instagram.com/p/Cyfz_tConnL/?img_index=8">Термобілизна</a></label>
                    </div>
                    <div>
                        <input type="checkbox" id="60" name="60" class="checkbox-gift" />
                            <label for="60">Спортивна сумка (через плече)</label>
                        </div>
                    </ul>
		        </div>
		    </div>
		   <!-- <div class="hero-content">
		        <div class="title-text">
                    Party
                </div>

		        <div class="party-text">
		        I hope)
		            <div>Date:</div><div>31.12.2023</div>
		            <div>Place:</div><div>Zhytomyr</div>
		            <div>Time:</div><div>18:00</div>
		        </div>

		        <img class="party-guys" src="/wishlist/new-party.png" alt="us"/>
		</div>-->
		<Footer />
	</body>
</html>
