---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Snow from '../components/Snow.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="banner-wrapper">
			<Snow />
			<div class="banner-main">
				<img src="/wishlist/birthday/26-banner.jpg" alt="Wishlist"/>
			</div>
		</div>
		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<div class="wishlist-item wide-item">
					<div class="item-image">
						<img src="/wishlist/birthday/cloth.png" alt="Cloth" width="500" height="333"/>

						<div class="item-text">
							<label>Одяг</label>
							<div class="text-content">
								<div class="sub-title">речі/магазини що мені подобаються:</div>
								<ul class="multiple-point">
									<li>
										<label for="item-booriva">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-booriva" name="item-booriva" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a>
										</label>
									</li>
									<li>
										<label for="item-cheburechna">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-cheburechna" name="item-cheburechna" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/reel/DEhmJnqNWtm/?igsh=dmRwc2Fqb3ZhM2Nu" target="_blank">Світер від cheburechna</a>
										</label>
									</li>
									<li>
										<label for="item-bekhtir">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-bekhtir" name="item-bekhtir" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											Світшоти / Cорочки від <a href="https://bekhtir.com/" target="_blank">Bekhtir</a>
										</label>
									</li>
									<li>
										<label for="item-amos">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-amos" name="item-amos" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://amoslook.com/" target="_blank">Amoslook</a>
										</label>
									</li>
									<li>
										<label for="item-anve">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-anve" name="item-anve" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/anvestudio/" target="_blank">Anvestudio</a>
										</label>
									</li>
									<li>
										<label for="item-flame">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-flame" name="item-flame" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/flameofdesire.com.ua" target="_blank">Flame of desire</a>
										</label>
									</li>
									<li>
										<label for="item-rikky">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-rikky" name="item-rikky" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a>
										</label>
									</li>
									<li>
										<label for="item-gepur">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-gepur" name="item-gepur" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://gepur.com/uk/" target="_blank">Gepur</a>
										</label>
									</li>
									<li>
										<label for="item-td">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-td" name="item-td" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/td_25_/reels/?locale=dehttps%3A%2F555ten.com%2F%3Flocale%3Ddehttps%3A%2F%2F555ten.com%2F&hl=am-et" target="_blank">td_25</a>
										</label>
									</li>
									<!--<li>-->
									<!--	<label for="item-hoodie-hearts">-->
									<!--		<div class="mini-checkbox-wrapper">-->
									<!--			<input type="checkbox" id="item-hoodie-hearts" name="item-hoodie-hearts" class="checkbox-gift"  />-->
									<!--			<svg viewBox="0 0 35.6 35.6">-->
									<!--				<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>-->
									<!--				<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>-->
									<!--				<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>-->
									<!--			</svg>-->
									<!--		</div>-->
									<!--		<a href="https://www.instagram.com/p/C8lwBeLiwRI/" target="_blank">Худі з сердечками</a> від roomovaa<br>-->
									<!--	</label>-->
									<!--</li>-->
									<!--<li>-->
									<!--	<label for="item-pitaya">-->
									<!--		<div class="mini-checkbox-wrapper">-->
									<!--			<input type="checkbox" id="item-pitaya" name="item-pitaya" class="checkbox-gift"  />-->
									<!--			<svg viewBox="0 0 35.6 35.6">-->
									<!--				<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>-->
									<!--				<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>-->
									<!--				<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>-->
									<!--			</svg>-->
									<!--		</div>-->
									<!--		Купальник від <a href="https://www.instagram.com/reel/Cz52827NbHO/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">Pitaya</a> (як у дівчини на відео)-->
									<!--	</label>-->
									<!--</li>-->
								</ul>
								<div>Мої параметри: 91 - 74 - 101</div>
								<div>Зріст: 170</div>
								<div>Взуття: 24.5см</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wishlist-item wide-item">
					<div class="item-image">
						<img src="/wishlist/birthday/jewelry.png" alt="Jewelry" width="600" height="400"/>

						<div class="item-text">
							<label>Срібні Прикраси</label>
							<div class="text-content">
								<div class="sub-title">речі/магазини що мені подобаються:</div>
								<ul class="multiple-point">
									<li>
										<label for="item-minimalist">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-minimalist" name="item-minimalist" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Прикраси з Minimalist Jewelry</a>
										</label>
									</li>
									<li>
										<label for="item-ingemar">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-ingemar" name="item-ingemar" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/ingemar_jewelry_shop/" target="_blank">Прикраси з ingemar_jewelry_shop</a>
										</label>
									</li>
									<!--<li>-->
									<!--	<label for="item-dragon-ring">-->
									<!--		<div class="mini-checkbox-wrapper">-->
									<!--			<input type="checkbox" id="item-dragon-ring" name="item-dragon-ring" class="checkbox-gift"  />-->
									<!--			<svg viewBox="0 0 35.6 35.6">-->
									<!--				<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>-->
									<!--				<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>-->
									<!--				<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>-->
									<!--			</svg>-->
									<!--		</div>-->
									<!--		<a href="https://www.instagram.com/p/C1Ja0RLAybn/" target="_blank">Каблучка з Драконом</a>-->
									<!--	</label>-->
									<!--</li>-->
								</ul>
								<div>Розміри колечок: <br>
									Великий палець - 18.5,<br> Середній палець - 18.5,<br> Безіменний - 17.5</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/gift-default.png" alt="Table" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-table" name="item-table" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
					</div>
					<div class="item-text">
						<label for="item-table"><a href="https://vash-stolik.site/" target="_blank">Столик або менажниця</a></label>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/gift-default.png" alt="Muse" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-muse" name="item-muse" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
					</div>
					<div class="item-text">
						<label for="item-muse"><a href="https://www.instagram.com/reel/DDJtC0AtArj/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">Піжама Muse графітова</a></label>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/gift-default.png" alt="Styler" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-styler" name="item-styler" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
					</div>
					<div class="item-text">
						<label for="item-styler"><a href="https://comfy.ua/stajler-philips-bhb887-00-s-tehnologiej-senseiq.html" target="_blank">Автостайлер Philips SenseIQ</a></label>
					</div>
				</div>

				<!--<div class="wishlist-item order-fix">-->
				<!--	<div class="item-image">-->
				<!--		<img src="/wishlist/birthday/brush.png" alt="Brush" width="400" height="400"/>-->
				<!--	</div>-->
				<!--	<div class="checkbox-wrapper">-->
				<!--		<input type="checkbox" id="item-brush" name="item-brush" class="checkbox-gift"  />-->
				<!--		<svg viewBox="0 0 35.6 35.6">-->
				<!--			<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>-->
				<!--			<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>-->
				<!--			<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>-->
				<!--		</svg>-->
				<!--		<div class="tile-overview"></div>-->
				<!--	</div>-->
				<!--	<div class="item-text">-->
				<!--		<label for="item-brush">-->
				<!--			<a target="_blank" href="https://bt.rozetka.com.ua/ua/vega_vt-600_w_belaya/p312192295/">Електрична зубна щітка</a>-->
				<!--		</label>-->
				<!--	</div>-->
				<!--</div>-->

			</div>
		    </div>
		<Footer />
	</body>
</html>
