---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="top-content">
		    <div class="october-image">
		        <img src="/wishlist/oct.png" alt="October"/>

		        <img class="wishlist-title" src="/wishlist/wish.png" alt="title"/>

		        <div class="text-content">
                    <div>
                        <input type="checkbox" id="1" class="checkbox-gift" name="1" />
                        <label for="1">Лампа на монітор | наприклад:
                        </label>
                        <ul>
                          <li><a href="https://bt.rozetka.com.ua/369683895/p369683895/?utm_l=r" target="_blank">Mijia Display Hanging Lamp</a></li>
                          <li><a href="https://bt.rozetka.com.ua/baseus-dgiwk-b01/p363293259/" target="_blank">Screenbar Baseus</a></li>
                        </ul>
                    </div>
                    <div>
                        <input type="checkbox"/>
                        <label>Одяг | магази що мені подобаються (скоро додам свої параметри):
                        </label>
                            <ul>
                              <li><a href="https://gepur.com/uk" target="_blank">Gepur</a></li>
                              <li><a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a></li>
                              <li><a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a></li>
                            </ul>
                    </div>
                    <div>
                        <input type="checkbox" id="3" name="3" class="checkbox-gift"  />
                        <label for="3">Валізка (S або M)
                        </label>
                    </div>
                    <div>
                        <input type="checkbox" id="4" name="4" class="checkbox-gift" /><label for="4">Адвент календар</label>
                    </div>
                    <div><input type="checkbox" id="5" name="5" class="checkbox-gift"  /><label for="5">Іригатор</label></div>
                    <div><input type="checkbox" id="6" name="6" class="checkbox-gift" /><label for="6">Фотосет</label></div>
                    <div><input type="checkbox" id="7" name="7" class="checkbox-gift" /><label for="7">Crocs Cars'(McQueen or Mater) || Crocs Shrek</label></div>
                    <div><input type="checkbox" id="8" name="8" class="checkbox-gift" /><label for="8">Instax</label></div>
                    <div><input type="checkbox" id="9" name="9" class="checkbox-gift" /><label for="9">Porsche 911 з висувними фарами </label></div>
                    </ul>
		        </div>
		    </div>
		</div>
		<Footer />
	</body>
</html>
