---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="banner-wrapper">
		    <div class="banner-main">
		        <img src="/wishlist/birthday/26-banner.jpg" alt="Wishlist"/>
		    </div>
		</div>
		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/beetle.png" alt="Cloth" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-beetle" name="item-beetle" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
					</div>
					<div class="item-text">
						<label for="item-beetle">Volkswagen Beetle</label>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/parfum.png" alt="Cloth" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-parfume" name="item-parfume" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
					</div>
					<div class="item-text">
                    	<label for="item-parfume"><a href="https://www.unusual.com.ua/product-category/parfume/" target="_blank">Парфуми від Unusual:</a><br/>Йеннефер, Ґеральт, Драко Мелфой (по 10мл.)</label>
					</div>
                </div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/bag.png" alt="Bag" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-bag" name="item-bag" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-bag">
							<a href="https://www.instagram.com/zori.bag/" target="_blank">Сумка Vela від Zori</a>
						</label>
					</div>
				</div>


				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/sherlock.png" alt="Cloth" width="420" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-sherlock" name="item-sherlock" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-sherlock"><a target="_blank" href="https://geekach.com.ua/sherlok.-3-v-1.-nabir-5/">Настільна гра Шерлок</a></label>
					</div>
				</div>

				<div class="wishlist-item wide-item">
					<div class="item-image">
						<img src="/wishlist/birthday/cloth.png" alt="Cloth" width="500" height="333"/>

						<div class="item-text">
							<label>Одяг</label>
							<div class="text-content">
								<div class="sub-title">речі/магазини що мені подобаються:</div>
								<ul class="multiple-point">
									<li>
										<label for="item-hoodie-hearts">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-hoodie-hearts" name="item-hoodie-hearts" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/p/C8lwBeLiwRI/" target="_blank">Худі з сердечками</a> від roomovaa<br>
										</label>
									</li>
									<li>
										<label for="item-bekhtir">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-bekhtir" name="item-bekhtir" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											Комбіновані і екстракомбіновані сорочки від <a href="https://bekhtir.com/product-category/sorochky-ekstrakombinovani/" target="_blank">Bekhtir</a>
										</label>
									</li>
									<li>
										<label for="item-dragon">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-dragon" name="item-dragon" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/iamaesthetics.tech" target="_blank">Худі від I Am Aesthetics</a>
										</label>
									</li>
									<li>
										<label for="item-tosyo">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-tosyo" name="item-tosyo" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											Спортивний костюм (<a href="https://www.instagram.com/p/C5BGclbsENq/" target="_blank">наприклад від TOSYO</a>, але не обов'язково саме його)
										</label>
									</li>
									<li>
										<label for="item-trench">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-trench" name="item-trench" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/p/Crd_jpBsNYs/?img_index=2" target="_blank">Шкіряний тренч</a>
										</label>
									</li>
									<li>
										<label for="item-sweatshirt">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-sweatshirt" name="item-sweatshirt" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											Світшот в світлих кольорах
										</label>
									</li>
									<li>
										<label for="item-booriva">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-booriva" name="item-booriva" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a>
										</label>
									</li>
									<li>
										<label for="item-lina">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-lina" name="item-lina" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://linamalina.com.ua/" target="_blank">LinaMalina</a>
										</label>
									</li>
									<li>
										<label for="item-rikky">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-rikky" name="item-rikky" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a>
										</label>
									</li>
									<li>
										<label for="item-gepur">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-gepur" name="item-gepur" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://gepur.com/uk/" target="_blank">Gepur</a>
										</label>
									</li>
									<li>
										<label for="item-flame">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-flame" name="item-flame" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/flameofdesire.com.ua" target="_blank">Flame of desire</a>
										</label>
									</li>
									<li>
										<label for="item-matiko">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-matiko" name="item-matiko" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/matiko_ua" target="_blank">Matiko</a>
										</label>
									</li>
									<li>
										<label for="item-td">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-td" name="item-td" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/td_25_/reels/?locale=dehttps%3A%2F555ten.com%2F%3Flocale%3Ddehttps%3A%2F%2F555ten.com%2F&hl=am-et" target="_blank">td_25</a>
										</label>
									</li>
									<li>
										<label for="item-pitaya">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-pitaya" name="item-pitaya" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											Купальник від <a href="https://www.instagram.com/reel/Cz52827NbHO/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">Pitaya</a> (як у дівчини на відео)
										</label>
									</li>
								</ul>
								<div>Мої параметри: 91 - 74 - 101</div>
								<div>Зріст: 170</div>
								<div>Взуття: 24.5см</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wishlist-item wide-item">
					<div class="item-image">
						<img src="/wishlist/birthday/jewelry.png" alt="Jewelry" width="600" height="400"/>

						<div class="item-text">
							<label>Срібні Прикраси</label>
							<div class="text-content">
								<div class="sub-title">речі/магазини що мені подобаються:</div>
								<ul class="multiple-point">
									<li>
										<label for="item-lunar">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-lunar" name="item-lunar" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/lunarchest_jewelry/" target="_blank">Прикраси з Lunar Chest</a>
										</label>
									</li>
									<li>
										<label for="item-ingemar">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-ingemar" name="item-ingemar" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/ingemar_jewelry_shop/" target="_blank">Прикраси з ingemar_jewelry_shop</a>
										</label>
									</li>
									<li>
										<label for="item-muerte">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-muerte" name="item-muerte" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/reel/C3-u8JZIMoP/" target="_blank">Сережки SANTA MUERTE з Vozhd Jewels</a>
										</label>
									</li>
									<li>
										<label for="item-minimalist">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-minimalist" name="item-minimalist" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Прикраси з Minimalist Jewelry</a>
										</label>
									</li>
									<li>
										<label for="item-dragon-ring">
											<div class="mini-checkbox-wrapper">
												<input type="checkbox" id="item-dragon-ring" name="item-dragon-ring" class="checkbox-gift"  />
												<svg viewBox="0 0 35.6 35.6">
													<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
													<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
													<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
												</svg>
											</div>
											<a href="https://www.instagram.com/p/C1Ja0RLAybn/" target="_blank">Каблучка з Драконом</a>
										</label>
									</li>
								</ul>
								<div>Розміри колечок: //колись додам</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/stander.png" alt="Flampic" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-flampic" name="item-flampic" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-flampic"><a href="https://flampic.com.ua/shop/stander-classic-epoxy-1?variant=296" target="_blank">Підставка під телефон Flampic</a></label>
					</div>
				</div>

				<div class="wishlist-item">
					<div class="item-image">
						<img src="/wishlist/birthday/dima.png" alt="Cloth" width="420" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-dima" name="item-dima" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-dima"><a target="_blank" href="https://geekach.com.ua/deni.-golosa-v-golove-dany/">Настільна гра Діма</a></label>
					</div>
				</div>

				<div class="wishlist-item order-fix">
					<div class="item-image">
						<img src="/wishlist/birthday/case.png" alt="Case" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-case" name="item-case" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-case"><a target="_blank" href="https://www.instagram.com/p/C2c4y80Lo5u/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">Чохол Кохати</a><br/>на iPhone 14 Pro</label>
					</div>
				</div>

				<div class="wishlist-item order-fix">
					<div class="item-image">
						<img src="/wishlist/birthday/photo.png" alt="Photosession" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-photo" name="item-photo" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-photo">Фотосесія</label>
					</div>
				</div>

				<div class="wishlist-item order-fix">
					<div class="item-image">
						<img src="/wishlist/birthday/brush.png" alt="Brush" width="400" height="400"/>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="item-brush" name="item-brush" class="checkbox-gift"  />
						<svg viewBox="0 0 35.6 35.6">
							<circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
							<circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
							<polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
						</svg>
						<div class="tile-overview"></div>
					</div>
					<div class="item-text">
						<label for="item-brush">Електрична зубна щітка</label>
					</div>
				</div>

			</div>
		    </div>
		<Footer />
	</body>
</html>
