---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="top-content">
		    <div class="october-image">
		        <img src="/wishlist/oct.png" alt="October"/>

		        <img class="wishlist-title" src="/wishlist/wish.png" alt="title"/>

		        <div class="text-content">
                    <div>
                        <input type="checkbox" id="10" class="checkbox-gift" name="10" />
                        <label for="10">Лампа на монітор | наприклад:
                        </label>
                        <ul>
                          <li><a href="https://bt.rozetka.com.ua/369683895/p369683895/?utm_l=r" target="_blank">Mijia Display Hanging Lamp</a></li>
                          <li><a href="https://bt.rozetka.com.ua/baseus-dgiwk-b01/p363293259/" target="_blank">Screenbar Baseus</a></li>
                        </ul>
                    </div>
                    <div>
                        <input type="checkbox"/>
                        <label>Одяг | магази що мені подобаються (скоро додам свої параметри):
                        </label>
                            <ul>
                              <li><a href="https://gepur.com/uk" target="_blank">Gepur</a></li>
                              <li><a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a></li>
                              <li><a href="https://byme.ua/" target="_blank">byMe</a></li>
                              <li><a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a></li>
                            </ul>
                    </div>
                    <div>
                        <input type="checkbox" id="30" name="30" class="checkbox-gift"  />
                        <label for="30">Валізка (S або M)
                        </label>
                    </div>
                    <div>
                        <input type="checkbox" id="40" name="40" class="checkbox-gift" /><label for="40">Адвент календар</label>
                    </div>
                    <div><input type="checkbox" id="50" name="50" class="checkbox-gift"  /><label for="50">Іригатор</label></div>
                    <div><input type="checkbox" id="60" name="60" class="checkbox-gift" /><label for="60">Фотосет</label></div>
                    <div><input type="checkbox" id="70" name="70" class="checkbox-gift" /><label for="70">Crocs Cars' (McQueen або Mater) або Crocs Shrek</label></div>
                    <div><input type="checkbox" id="80" name="80" class="checkbox-gift" /><label for="80">Instax</label></div>
                    <div><input type="checkbox" id="90" name="90" class="checkbox-gift" /><label for="90">Porsche 911 з висувними фарами </label></div>
                    </ul>
		        </div>

		        <img class="party-title" src="/wishlist/party.png" alt="title"/>

		        <div class="party-text">
		            <div>Коли?</div><div>29 жовтня</div>
		            <div>Де?</div><div>???</div>
		            <div>О котрій?</div><div>???</div>
		        </div>
		    </div>
		</div>
		<Footer />
	</body>
</html>
