---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainBannerBg from '../components/MainBannerBg.astro';
import Item from '../components/Item.astro';
import BigItem from '../components/BigItem.astro';
import BigSubItem from '../components/BigSubItem.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Popup from '../components/Popup.astro';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<MainBannerBg text="27 years later ..." />

		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<Item name="table" text="Столик або менажниця" linkUrl="https://vash-stolik.site/"  image="/wishlist/spongebob/table.jpg"/>

				<Item name="tosyo" text="Сумка TOSYO W" image="/wishlist/spongebob/bag.jpg" linkUrl="https://www.instagram.com/p/DNF4dvcs6Fx/?igsh=MTJzaTRya3Rzbzdybw%3D%3D"/>

				<Item name="crocs" text="Крокси" image="/wishlist/spongebob/shoes.jpg"/>

				<Item name="styler" text="Автостайлер<br/>(Shark FlexStyle або Philips SenseIQ чи інший аналог)" image="/wishlist/spongebob/styler.jpg" />

				<Item name="cheburechna" text="Светр з надписом від cheburechna" linkUrl="https://www.instagram.com/cheburechna.ua/" image="/wishlist/spongebob/sweather.jpg"/>

				<Item name="sport-siute" text="Спортивний комбез" linkUrl="https://lexie.com.ua/tproduct/533986576-564988142172-kombez-seams-long-v" image="/wishlist/spongebob/suite.jpg"/>

				<Item name="suite" text="Трикотажний костюмчик або тільки кардиган" linkUrl="https://www.instagram.com/p/DPDieRoDetb/?utm_source=ig_web_copy_link&igsh=MWhiYjd6dDY1MjhndA==" image="/wishlist/spongebob/cloth.jpg"/>

				<Item name="zip" text="Зіпер з вовни" linkUrl="https://rikkyhype.com/ua/product/ziper-teddi-z-dekorativnimi-shvami-zi-100-vovni-bilij" image="/wishlist/spongebob/sweater.jpg"/>

				<BigItem title="Інший Одяг" subtitle="магазини що мені подобаються:" 
					image="/wishlist/spongebob/clot2.jpg" aftertext="Мої параметри: 91 - 74 - 101<br/>Зріст: 170<br/>Взуття: 24.5см">
					<BigSubItem name="booriva" title="Booriva" link="https://www.booriva.com/in-stock/" />
					<BigSubItem name="hugme" title="Hugme" link="https://hugmebrand.com/" />
					<BigSubItem name="fiore" title="Fiore" link="https://www.instagram.com/fiore.ua?igsh=MThmc25wbnoxc3Vrdw==" />
					<BigSubItem name="amos" title="Amoslook" link="https://www.instagram.com/amoslook/" />
					<BigSubItem name="anve" title="Anvestudio" link="https://www.instagram.com/anvestudio/" />
					<BigSubItem name="flame" title="Flame of desire" link="https://www.instagram.com/flameofdesire.com.ua" />
					<BigSubItem name="rikky" title="Rikky Hype" link="https://rikkyhype.com/ua" />
					<BigSubItem name="gepur" title="Gepur" link="https://gepur.com/uk/" />
				</BigItem>

				<BigItem title="Інші ідеї" image="/wishlist/spongebob/box.jpg" >
					<BigSubItem name="cake" title="Тортик, тістечко, інші смаколики" />
					<BigSubItem name="pijama" title="Естетік піжамка" />
					<BigSubItem name="sport" title="Одяг в спортзал (комбінезончики, лосіни, топи, рашгарди і тд)" />
					<BigSubItem name="house" title="Відпочинок в будиночку з чаном" />
					<BigSubItem name="quest" title="Все що повʼязано з квестами: квеструм, квест-коробка, саморобний квест і тд" />
				</BigItem>

				<BigItem title="Прикраси (срібло, біжутерія)" 
				image="/wishlist/spongebob/jewelry.gif"
				subtitle="речі/магазини що мені подобаються:" aftertext="Розміри колечок:<br>Великий палець - 18.5,<br>Середній палець - 18.5,<br>Безіменний - 17.5">
					<BigSubItem name="minimalist" title="Minimalist Jewelry" link="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" />
					<BigSubItem name="dych" title="DYCH" link="https://danylevych.com/" />
				</BigItem>

				<BigItem title="Книжки" image="/wishlist/spongebob/book.jpg" >
					<BigSubItem name="book-lie" title="Ніколи не бреши (Фріда Мак-Фадден)" />
					<BigSubItem name="book-god" title="Лісовий бог (Ліз Мур)" />
					<BigSubItem name="book-dance" title="Танець недоумка (Ілларіон Павлюк)" />
				</BigItem>

				<Item name="long" text="Лонг на запах" linkUrl="https://rikkyhype.com/ua/product/longsliv-zhinochij-z-dekolte-na-zapakh-grafitovij" image="/wishlist/spongebob/zip.jpg"/>
			</div>
		</div>
		<Footer />

		<Popup id="confirmDialog" content="Ви підтверджуєте резерв?" bannerType="positive" confirmText="Так, звісно" cancelText="Hi"/>
		<Popup id="cancelDialog" content="Ви підтверджуєте скасування резерву?" bannerType="negative" confirmText="Так" cancelText="Hi"/>

	</body>
</html>
