---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainBannerBg from '../components/MainBannerBg.astro';
import Item from '../components/Item.astro';
import Skam from '../components/Skam.astro';
import BigItem from '../components/BigItem.astro';
import BigSubItem from '../components/BigSubItem.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Popup from '../components/Popup.astro';
//import Snow from '../components/Snow.astro';

---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<MainBannerBg text="Marynaʼs Wishlist" />

		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<Item name="tosyo" text="Сумка Tosyo - TAG 1 або  TAG 2 або  W" image="/wishlist/spongebob/bags.jpg" linkUrl="https://www.instagram.com/p/DSUnoJRiryL/"/>

				<Item name="crocs" text="Крокси" image="/wishlist/spongebob/cros.jpg" showSize=true/>

				<!-- <Item name="cheburechna" text="Светр з надписом від cheburechna" showSize=true linkUrl="https://www.instagram.com/cheburechna.ua/" image="/wishlist/spongebob/sweather.jpg"/> -->

				<!-- <Item name="sport-siute" text="Спортивний комбез" showSize=true linkUrl="https://lexie.com.ua/tproduct/533986576-564988142172-kombez-seams-long-v" image="/wishlist/spongebob/suite.jpg"/> -->

				<!-- <Item name="long-2" text="Лонг зі швами" showSize=true linkUrl="https://rikkyhype.com/ua/product/longsliv-z-dekorativnimi-shvami-po-figuri-shokoladnij" image="/wishlist/spongebob/zip.jpg"/> -->

				<!-- <Item name="hammam" text="Гель для душу Hammam Mr.SCRUBBER" linkUrl="https://mrscrubber.ua/gel-dlia-dusu-hammam-mrscrubber" image="/wishlist/spongebob/bath-2.jpg"/> -->

				<!-- <Item name="deeply" text="Шампунь, кондиціонер від Deeply" linkUrl="https://deeply.com.ua/" image="/wishlist/spongebob/bath-3.png"/> -->

				<Item name="tish" text="Кросівки літні" showSize=true" image="/wishlist/spongebob/croc.jpg"/>

				<!-- <Item name="giffard" text="<a target='_blank' href='https://winetime.com.ua/ua/giffard-abricot-du-roussillon?srsltid=AfmBOooWcupjiNFVT9RNi4uwmgIu1vG4u4IOMu9JGyuLZt3LNYZ_ohYP'>Лікер Giffard Abricot</a>" image="/wishlist/spongebob/drink.jpeg"/> -->

				<Item name="puzzle" text="Пазли Interdruk на 1000+ елементів" image="/wishlist/spongebob/puz.jpg"/>

				<BigItem title="Одяг"
					image="/wishlist/spongebob/clth.jpg" aftertext="Мої параметри: 92 - 74 - 101<br/>Зріст: 170">
					<BigSubItem name="long-2" title="Червоний смугастий світшот з сердечком" link="https://www.instagram.com/p/DQLk5c6jNJl/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==" />
					<BigSubItem name="reserved" title="Світшот шампань серця" link="https://daryasoul.ua/product/sweatshirt-85" />
					<BigSubItem name="cheburechna" title="Светр з надписом від cheburechna" link="https://www.instagram.com/cheburechna.ua/" />
					<BigSubItem name="long" title="Худі романтика" link="https://www.booriva.com/in-stock/hudi-romantyka-na-gudzykah/" />
					<BigSubItem name="booriva" title="Спідниця від Booriva чорна (або сіра)" link="https://www.booriva.com/in-stock/spidnyczya-z-ryusheyu-chorna/" />
					<BigSubItem name="trench" title="Чорний шкіряний тренч" />
					<BigSubItem name="sport-siute" title="Спортивний рашгард <a href='https://totalfit.com.ua/product/rw6-c36/' target='_blank'>Totalfit (зелений або чорний)</a> або <a href='https://rikkyhype.com/ua/product/rashgard-povnoyi-dovzhini-na-bliskavczi-bavovnyanij-asfaltovij' target='_blank'>Rikky Hype (асфальт або чорний)</a>" />
					<BigSubItem name="sport" title="Чорні спортивні лосини" link="https://gs-active.com/copy_losyny-sportyvni-bezshovni-z-efektom-push-up-chorni-l-spring/5242/"/>

				</BigItem>

				<BigItem title="Книжки" image="/wishlist/spongebob/book-2.jpg" >
					<BigSubItem name="book-own" title="Сім чоловіків Евелін Г'юґо (Тейлор Дженкінс Рід)" />
					<BigSubItem name="book-boss" title="Як убити свого боса. Посібник Мак-Мастера для вбивць (Руперт Голмс)" />
					<BigSubItem name="book-maid" title="Секрет служниці, Служниця спостерігає, Весілля служниці (Фріда Мак-Фадден)  (першу частину я маю)" />
					<BigSubItem name="book-lazarus" title="Книга Еміля (Іларіон Павлюк)" />
					<BigSubItem name="book-mistery" title="Таємниці Великої Тиші (Сергій Пономаренко)" />
					<BigSubItem name="book-lie" title="Приховані малюнки (Джейсон Рекулак)" />
				</BigItem>

				<BigItem title="Прикраси (срібло, біжутерія)" 
				image="/wishlist/spongebob/jew.jpg"
				subtitle="речі/магазини що мені подобаються:" aftertext="Розміри колечок (+-):<br>Великий палець - 18.5,<br>Середній палець - 18.5,<br>Безіменний - 17.5">
					<BigSubItem name="heart" title="Колечко Heartbeat" link="https://sribnakraina.ua/ua/sribna-kabluchka-1928-1r.html" />	
					<BigSubItem name="etno" title="Чокер Heartbeat" link="https://sribnakraina.ua/ua/sribny-choker-8185r.html" />	
					<!-- <BigSubItem name="etno" title="etno.namystynka" link="https://www.instagram.com/etno.namystynka/" />	 -->
					<BigSubItem name="minimalist" title="Minimalist Jewelry" link="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" />
					<!-- <BigSubItem name="dych" title="DYCH" link="https://danylevych.com/" /> -->
					<BigSubItem name="bridget" title="Bridget Stone" link="https://www.instagram.com/bridget_stone_?igsh=MWNuenZnOTF5dmpzaA%3D%3D" />
					<BigSubItem name="lamari" title="Lamari Jewelry" link="https://www.instagram.com/lamari_jewelry?igsh=MWQ1ejV4cGk0NmJuMA%3D%3D" />
					<BigSubItem name="youko" title="Youko Jewelry" link="https://www.instagram.com/youkojewelry?igsh=a3ZmanhnaXFmZXVo" />
					<!-- <BigSubItem name="animalist" title="Animalist" link="https://animalism.shop/product-tag/jewelry-collection-lis-useredyni/" /> -->
				</BigItem>


				<BigItem title="Інші ідеї" image="/wishlist/spongebob/other.jpg" >
					<!-- <BigSubItem name="cake" title="Тортик, тістечко, інші смаколики" /> -->
					<BigSubItem name="pijama" title="Естетік піжамка" />
					<!-- <BigSubItem name="sport" title="Одяг в спортзал (комбінезончики, лосіни, топи, рашгарди і тд)" /> -->
					<BigSubItem name="quest" title="Все що повʼязано з квестами: квеструм, квест-коробка, саморобний квест і тд" />
					<BigSubItem name="massage" title="Сертифікат на масаж" />
					<!-- <BigSubItem name="house" title="Відпочинок в будиночку з чаном" /> -->
				</BigItem>
<!-- 
				<BigItem title="Інший Одяг" subtitle="магазини що мені подобаються:" 
					image="/wishlist/spongebob/clot2.jpg" aftertext="Мої параметри: 91 - 74 - 101<br/>Зріст: 170<br/>Взуття: 24.5см">
					<BigSubItem name="booriva" title="Booriva" link="https://www.booriva.com/in-stock/" />
					<BigSubItem name="hugme" title="Hugme" link="https://hugmebrand.com/" />
					<BigSubItem name="fiore" title="13litera" link="https://www.instagram.com/13litera.ua/" />
					<BigSubItem name="amos" title="Amoslook" link="https://www.instagram.com/amoslook/" />
					<BigSubItem name="anve" title="Anvestudio" link="https://www.instagram.com/anvestudio/" />
					<BigSubItem name="flame" title="Flame of desire" link="https://www.instagram.com/flameofdesire.com.ua" />
					<BigSubItem name="rikky" title="Rikky Hype" link="https://rikkyhype.com/ua" />
					<BigSubItem name="gepur" title="Gepur" link="https://gepur.com/uk/" />
				</BigItem> -->
			</div>
		</div>
		<Footer />

		<Popup id="confirmDialog" content="Ви підтверджуєте резерв?" bannerType="positive" confirmText="Так, звісно" cancelText="Hi"/>
		<Popup id="cancelDialog" content="Ви підтверджуєте скасування резерву?" bannerType="negative" confirmText="Так" cancelText="Hi"/>

		<!-- <Skam /> -->
	</body>
</html>
