---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="hero-content">
		    <div class="main-banner">
		        <img src="/wishlist/spring/banner.png" alt="Wishlist"/>
		    </div>
		</div>
		<div class="top-content">
                <div class="title-text">

		        </div>
		        <div class="text-content">
                     <div>
                        <input type="checkbox" id="11" name="11" class="checkbox-gift"  />
                        <label for="11">Парфуми від <a href="https://www.unusual.com.ua/product-category/parfume/the-witcher/" target="_blank">Unusual</a> (Йеннефер, Цірілла і Ґеральт) </label>
                    </div>
                    <div>
                        <input type="checkbox" id="12" name="12" class="checkbox-gift"  />
                        <label for="12">Сумка Virgo від <a href="https://www.instagram.com/zori.bag" target="_blank">zori.bag</a></label>
                    </div>
                    <div>
                        <input type="checkbox" id="1" class="checkbox-gift" name="1" />
                        <label for="1">Одяг</label>
                            <div class="sub-title">речі/магази що мені подобаються:</div>
                            <ul>
                                <li>комбіновані і екстракомбіновані сорочки від <a href="https://bekhtir.com/product-category/sorochky-ekstrakombinovani/" target="_blank">Bekhtir</a></li>
                                <li>худі з сердечками (як на фото) від <a href="https://www.instagram.com/p/C8lwBeLiwRI/" target="_blank">roomovaa</a> (або не з сердечками 😉)<br><a target="_blank" href="https://www.instagram.com/p/C2c4y80Lo5u/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==">чохол Кохати</a> там теж крутий</li>
                                <li>худі з драконом від <a href="https://www.instagram.com/iamaesthetics.tech" target="_blank">I Am Aesthetics</a></li>
                                <li>спортивний костюм від <a href="https://www.instagram.com/p/C5BGclbsENq/" target="_blank">TOSYO</a></li>
                                <li>шкіряний тренч від <a href="https://www.instagram.com/p/Crd_jpBsNYs/?img_index=2" target="_blank">soowex.ua</a></li>
                                <li>речі з <a href="https://gepur.com/uk/bestidea/soul?menu_id=1709" target="_blank">колекції Душа</a> Gepur:
                                    <a href="https://gepur.com/uk/product/top-46199" target="_blank">топ</a> /
                                    <a href="https://gepur.com/uk/product/hudi-45543" target="_blank">худі</a> /
                                    <a href="https://gepur.com/uk/product/bodi-44858" target="_blank">боді молочний</a> /
                                    <a href="https://gepur.com/uk/product/bodi-44431" target="_blank">боді бежевий</a>
                                </li>
                                <li><a href="https://www.booriva.com/in-stock/" target="_blank">Booriva</a></li>
                                <li><a href="https://rikkyhype.com/ua" target="_blank">Rikky Hype</a></li>
                                <li>
                                    Купальник від <a href="https://www.instagram.com/reel/Cz52827NbHO/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">Pitaya</a> (як у дівчини на відео)
                                </li>
                            </ul>
                            <div class="sub-title">Мої параметри: 91 - 74 - 101</div>
                            <div class="sub-title">Взуття: 24.5см</div>
                    </div>
                     <div>
                        <input type="checkbox" id="2" class="checkbox-gift" name="2" />
                        <label for="2">Срібні Прикраси</label>
                            <div class="sub-title">речі/магази що мені подобаються:</div>
                            <ul>
                                <li><a href="https://www.instagram.com/ingemar_jewelry_shop/" target="_blank">Прикраси з подібною естетикою як у ingemar_jewelry_shop</a></li>
                                <li><a href="https://www.instagram.com/lunarchest_jewelry/" target="_blank">Прикраси з подібною естетикою як у LUNAR CHEST</a></li>
                                <li><a href="https://www.instagram.com/reel/C3-u8JZIMoP/" target="_blank">Сережки SANTA MUERTE з Vozhd Jewels</a></li>
                                <li><a href="https://www.instagram.com/reel/CsrHaXcrD91/" target="_blank">Кольє River з Minimalist Jewelry</a></li>
                                <li><a href="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Та все з Minimalist Jewelry</a></li>
                                <li><a href="https://www.instagram.com/p/C80IbrNgrjQ/" target="_blank">Ланцюжок з промінчиками від chuttyevo</a></li>
                                <li><a href="https://kviten.in.ua/sribna-pidviska-sontse/?utm_medium=paid&utm_source=ig&utm_id=120209974794020149_v2_s02&utm_content=120209974794010149&utm_term=120209974794030149&utm_campaign=120209974794020149">Підвіска сонце від Kviten</a></li>
                            </ul>
                    </div>
                    <div>
                        <input type="checkbox" id="3" name="3" class="checkbox-gift"  />
                        <label for="3">Настільні ігри</label>
                        <ul>
                            <li><a href="https://geekach.com.ua/deni.-golosa-v-golove-dany/">Настільна гра Діма</a></li>
                            <li><a href="https://geekach.com.ua/sherlok.-3-v-1.-nabir-5/">Настільна гра Шерлок</a></li>
                        </ul>
                    </div>
                    <div>
                        <input type="checkbox" id="13" name="13" class="checkbox-gift"  />
                        <label for="13">Фотосесія</label>
                    </div>
                    <div>
                        <input type="checkbox" id="22" name="22" class="checkbox-gift"  />
                        <label for="22">Підставка під телефон від <a href="https://flampic.com.ua/stander" target="_blank">Flampic</a></label>
                    </div>
		        </div>
		    </div>
		<Footer />
	</body>
</html>
