---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainBannerBg from '../components/MainBannerBg.astro';
import Item from '../components/Item.astro';
import BigItem from '../components/BigItem.astro';
import BigSubItem from '../components/BigSubItem.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<MainBannerBg text="27 years later ..." />
		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<Item name="table" text="Столик або менажниця" linkUrl="https://vash-stolik.site/"  image="/wishlist/spongebob/table.jpg"/>

				<Item name="tosyo" text="Сумка TOSYO W" image="/wishlist/spongebob/bag.jpg" linkUrl="https://www.instagram.com/p/DNF4dvcs6Fx/?igsh=MTJzaTRya3Rzbzdybw%3D%3D"/>

				<Item name="tish" text="Кросівки від Tishelle" linkUrl="https://tishelle.com.ua/product-category/sneakers/" image="/wishlist/spongebob/shoes.jpg"/>

				<Item name="styler" text="Автостайлер<br/>(Shark FlexStyle чи інший аналог)" image="/wishlist/spongebob/styler.jpg" />

				<BigItem title="Одяг" subtitle="речі/магазини що мені подобаються:" aftertext="Мої параметри: 91 - 74 - 101<br/>Зріст: 170<br/>Взуття: 24.5см">
					<BigSubItem name="cheburechna" title="Світер від cheburechna" link="https://www.instagram.com/reel/DEhmJnqNWtm/?igsh=dmRwc2Fqb3ZhM2Nu" />
					<BigSubItem name="booriva" title="Booriva" link="https://www.booriva.com/in-stock/" />
					<BigSubItem name="amos" title="Amoslook" link="https://www.instagram.com/amoslook/" />
					<BigSubItem name="anve" title="Anvestudio" link="https://www.instagram.com/anvestudio/" />
					<BigSubItem name="flame" title="Flame of desire" link="https://www.instagram.com/flameofdesire.com.ua" />
					<BigSubItem name="rikky" title="Rikky Hype" link="https://rikkyhype.com/ua" />
					<BigSubItem name="bekhtir" title="Світшоти / Cорочки від Bekhtir" link="https://bekhtir.com/" />
					<BigSubItem name="gepur" title="Gepur" link="https://gepur.com/uk/" />
				</BigItem>

				<BigItem title="Прикраси (срібло, біжутерія)" subtitle="речі/магазини що мені подобаються:" aftertext="Розміри колечок:<br>Великий палець - 18.5,<br>Середній палець - 18.5,<br>Безіменний - 17.5">
					<BigSubItem name="minimalist" title="Прикраси з Minimalist Jewelry" link="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" />
				</BigItem>

				<BigItem title="Інші ідеї:">
					<BigSubItem name="cake" title="Тортик, тістечко, інші смаколики" />
					<BigSubItem name="pijama" title="Естетік піжамка" />
					<BigSubItem name="sport" title="Одяг в спортзал (комбінезончики, лосіни, топи, рашгарди і тд)" />
					<BigSubItem name="house" title="Відпочинок в будиночку з чаном" />
					<BigSubItem name="quest" title="Все що повʼязано з квестами: квеструм, квест-коробка, саморобний квест і тд" />
				</BigItem>
			</div>
		</div>
		<Footer />
	</body>
</html>
