---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainBannerBg from '../components/MainBannerBg.astro';
import Item from '../components/Item.astro';
import Skam from '../components/Skam.astro';
import BigItem from '../components/BigItem.astro';
import BigSubItem from '../components/BigSubItem.astro';
import LocalScripts from '../components/LocalScripts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Popup from '../components/Popup.astro';
---

<!doctype html>
<html lang="en">
	<head>
	    <LocalScripts />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<MainBannerBg text="27 years later ..." />

		<div class="wishlist-wrapper">
			<div class="wishlist-grid">
				<Item name="table" text="Столик або менажниця" linkUrl="https://vash-stolik.site/"  image="/wishlist/spongebob/table.jpg"/>

				<Item name="tosyo" text="Сумка TOSYO W" image="/wishlist/spongebob/bag.jpg" linkUrl="https://www.instagram.com/p/DNF4dvcs6Fx/?igsh=MTJzaTRya3Rzbzdybw%3D%3D"/>

				<Item name="crocs" text="Крокси" image="/wishlist/spongebob/shoes.jpg" showSize=true/>

				<Item name="styler" text="Автостайлер<br/>(Shark FlexStyle або інший аналог)" image="/wishlist/spongebob/styler.jpg" />

				<Item name="cheburechna" text="Светр з надписом від cheburechna" showSize=true linkUrl="https://www.instagram.com/cheburechna.ua/" image="/wishlist/spongebob/sweather.jpg"/>

				<Item name="sport-siute" text="Спортивний комбез" showSize=true linkUrl="https://lexie.com.ua/tproduct/533986576-564988142172-kombez-seams-long-v" image="/wishlist/spongebob/suite.jpg"/>

				<Item name="long" text="Лонг на запах" showSize=true linkUrl="https://rikkyhype.com/ua/product/longsliv-zhinochij-z-dekolte-na-zapakh-grafitovij" image="/wishlist/spongebob/long.jpg"/>

				<Item name="zip" text="Зіпер з вовни (S)" linkUrl="https://rikkyhype.com/ua/product/ziper-teddi-z-dekorativnimi-shvami-zi-100-vovni-bilij" image="/wishlist/spongebob/zip.jpg"/>

				<Item name="hammam" text="Гель для душу Hammam Mr.SCRUBBER" linkUrl="https://mrscrubber.ua/gel-dlia-dusu-hammam-mrscrubber" image="/wishlist/spongebob/bath-2.jpg"/>
				
				<Item name="suite" text="Кардиган з ангори" linkUrl="https://amoslook.com/kardygan-z-angory-molochnyj-kolir" image="/wishlist/spongebob/cloth.jpg"/>

				<Item name="colada" text="Гель для душу Пінаколада Mr.SCRUBBER" linkUrl="https://mrscrubber.ua/gel-dlia-dusu-pinakolada-mrscrubber" image="/wishlist/spongebob/bath.jpg"/>

				<Item name="deeply" text="Шампунь, кондиціонер від Deeply (щось зволожуюче або відновлюче)" linkUrl="https://deeply.com.ua/" image="/wishlist/spongebob/bath-3.png"/>

				<Item name="sesderma" text="Cироватка Sesderma C-Vit Liposomal Serum з вітаміном С" linkUrl="https://rozetka.com.ua/ua/sesderma-8429979355355/p388756629/?gad_source=1&gad_campaignid=16781249912&gbraid=0AAAAACcl0F24huOdcZNvlvAiNJSQ9RZ3k&gclid=Cj0KCQjw3aLHBhDTARIsAIRij58CTYkRS8X0Zvc3JoCXlHVY9C5il7xMy4_nzMHwsFM5kiHNOYROzj4aAsItEALw_wcB" image="/wishlist/spongebob/face.jpg"/>

				<Item name="tish" text="Кросівки від Tishelle" linkUrl="https://tishelle.com.ua/product-category/sneakers/" image="/wishlist/spongebob/shoes-2.jpg"/>

				<Item name="giffard" text="<a target='_blank' href='https://winetime.com.ua/ua/giffard-abricot-du-roussillon?srsltid=AfmBOooWcupjiNFVT9RNi4uwmgIu1vG4u4IOMu9JGyuLZt3LNYZ_ohYP'>Лікер Giffard Abricot</a> або <a target='_blank' href='https://rozetka.com.ua/ua/de_kuyper_8710625402708/p34732767/?gad_source=1&gad_campaignid=21883627427&gbraid=0AAAAABrm9UDffib2T_zKBAoY2bnkFQ8i3&gclid=Cj0KCQjwo63HBhCKARIsAHOHV_WHCrIgbZpcZCvQ74rWQPTKxNx-lQN7uqVZikcljjXPYgXXtkLT7H4aAjB3EALw_wcB'>De Kuyper Apricot</a>" image="/wishlist/spongebob/drink.jpeg"/>

				<Item name="trench" text="Чорний шкіряний тренч" image="/wishlist/spongebob/black.jpg"/>

				<BigItem title="Книжки" image="/wishlist/spongebob/book.jpg" >
					<BigSubItem name="book-maid" title="Служниця (Фріда Мак-Фадден) <br/>(можна і наступні частини теж)" />
					<BigSubItem name="book-dance" title="Танець недоумка (Ілларіон Павлюк)" />
					<BigSubItem name="book-lie" title="Приховані малюнки (Джейсон Рекулак)" />
					<BigSubItem name="book-first" title="Перша брехня виграє (Ешлі Елстон)" />
					<BigSubItem name="book-god" title="Лісовий бог (Ліз Мур)" />
					<BigSubItem name="book-last" title="Останнє вбивство на краю світу (Стюарт Тертон)" />
					<BigSubItem name="book-boss" title="Як убити свого боса. Посібник Мак-Мастера для вбивць (Руперт Голмс)" />
					<BigSubItem name="book-lazarus" title="Лазарус (Світлана Тараторіна)" />
					<BigSubItem name="book-lili" title="Чорні водяні лілії (Мішель Бюссі)" />
					<BigSubItem name="book-own" title="Тут усі хороші люди (Ешлі Флаверс)" />
				</BigItem>

				<BigItem title="Інші ідеї" image="/wishlist/spongebob/box.jpg" >
					<BigSubItem name="cake" title="Тортик, тістечко, інші смаколики" />
					<BigSubItem name="pijama" title="Естетік піжамка" />
					<BigSubItem name="sport" title="Одяг в спортзал (комбінезончики, лосіни, топи, рашгарди і тд)" />
					<BigSubItem name="quest" title="Все що повʼязано з квестами: квеструм, квест-коробка, саморобний квест і тд" />
					<BigSubItem name="massage" title="Сертифікат на масаж" />
					<BigSubItem name="house" title="Відпочинок в будиночку з чаном" />
				</BigItem>

				<BigItem title="Прикраси (срібло, біжутерія)" 
				image="/wishlist/spongebob/jewelry.gif"
				subtitle="речі/магазини що мені подобаються:" aftertext="Розміри колечок (+-):<br>Великий палець - 18.5,<br>Середній палець - 18.5,<br>Безіменний - 17.5">
					<BigSubItem name="etno" title="etno.namystynka" link="https://www.instagram.com/etno.namystynka/" />	
					<BigSubItem name="heart" title="Срібна країна X Надічка Дорофеєва" link="https://sribnakraina.ua/ua/heartbeat/" />
					<BigSubItem name="minimalist" title="Minimalist Jewelry" link="https://instagram.com/minimalist_jewelry?igshid=OGQ5ZDc2ODk2ZA==" />
					<BigSubItem name="dych" title="DYCH" link="https://danylevych.com/" />
					<BigSubItem name="bridget" title="Bridget Stone" link="https://www.instagram.com/bridget_stone_?igsh=MWNuenZnOTF5dmpzaA%3D%3D" />
					<BigSubItem name="lamari" title="Lamari Jewelry" link="https://www.instagram.com/lamari_jewelry?igsh=MWQ1ejV4cGk0NmJuMA%3D%3D" />
					<BigSubItem name="youko" title="Youko Jewelry" link="https://www.instagram.com/youkojewelry?igsh=a3ZmanhnaXFmZXVo" />
					<BigSubItem name="animalist" title="Animalist" link="https://animalism.shop/product-tag/jewelry-collection-lis-useredyni/" />
				</BigItem>

				<BigItem title="Інший Одяг" subtitle="магазини що мені подобаються:" 
					image="/wishlist/spongebob/clot2.jpg" aftertext="Мої параметри: 91 - 74 - 101<br/>Зріст: 170<br/>Взуття: 24.5см">
					<BigSubItem name="booriva" title="Booriva" link="https://www.booriva.com/in-stock/" />
					<BigSubItem name="hugme" title="Hugme" link="https://hugmebrand.com/" />
					<BigSubItem name="fiore" title="13litera" link="https://www.instagram.com/13litera.ua/" />
					<BigSubItem name="amos" title="Amoslook" link="https://www.instagram.com/amoslook/" />
					<!-- <BigSubItem name="anve" title="Anvestudio" link="https://www.instagram.com/anvestudio/" /> -->
					<BigSubItem name="flame" title="Flame of desire" link="https://www.instagram.com/flameofdesire.com.ua" />
					<BigSubItem name="rikky" title="Rikky Hype" link="https://rikkyhype.com/ua" />
					<BigSubItem name="gepur" title="Gepur" link="https://gepur.com/uk/" />
				</BigItem>
			</div>
		</div>
		<Footer />

		<Popup id="confirmDialog" content="Ви підтверджуєте резерв?" bannerType="positive" confirmText="Так, звісно" cancelText="Hi"/>
		<Popup id="cancelDialog" content="Ви підтверджуєте скасування резерву?" bannerType="negative" confirmText="Так" cancelText="Hi"/>

		<Skam />
	</body>
</html>
