---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="internal-links">
			<a href="https://www.youtube.com/watch?v=1giQVuoTAFM" target="_blank">IT'S TIME!!</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #27124B;
		border-bottom: 2px solid #feb855;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	.internal-links {
        display: flex;
        width: 100%;
        justify-content: center;
		padding: 24px;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		font-family: 'ZCOOL XiaoWei', sans-serif;
	    font-size: 30px;
		color: #FFB855;
		text-decoration: none;
	}

	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
