---
const {} = Astro.props;
---


<div class="tooltip">
    <img src="/wishlist/icons/size.svg" alt="size" width="20" height="20"/>
    <div class="tooltiptext">
        <span class="tooltip-inner">
            Мої параметри: 91 - 74 - 101<br/>
            Зріст: 170<br/>
            Взуття: 24.5см (±38-39)
        </span>
    </div>
</div>