---
const { name } = Astro.props;
---

<div class="jelly">
    <div class="jelly-wrapper" id="playBtn">
        <img src="wishlist/spongebob/jelly.png" alt={name} width="379" height="403"/>
        <div class="label">не тицяй</div>
    </div>
</div>

<div id="player-container">
    <div id="player"></div>
</div>
