---
const { name } = Astro.props;
---

<div class="jelly">
    <div class="jelly-wrapper" id="playBtn">
        <img src="/wishlist/spongebob/jelly.png" alt={name} width="379" height="403"/>
        <div class="label">не тицяй</div>
    </div>
</div>

<div id="videoWrapper">
    <!-- We’ll control this iframe manually -->
    <iframe
      id="ytFrame"
      src="https://www.youtube.com/embed/8UeMa7N_r0k?enablejsapi=1&controls=1&rel=0"
      title="YouTube video"
      allow="autoplay; fullscreen"
      allowfullscreen>
    </iframe>
  </div>